* html #poststuff
{
	height:100%;
}

body
{
	border:none;
	background:#f9fcfe;
	color:#000;
	margin:0;
	padding:0;
}

a
{
	color:#00019b;
	text-decoration:none;
}

a.delete:hover
{
	background:#c00;
	color:#fff;
	text-decoration:none;
}

table.admin
{
	width:100%;
	border-top:1px solid #ccc;
	border-left:1px solid #ccc;
	border-bottom:1px solid #ccc;
	color:#333;
	background-color:#fff;
	clear:both;
	white-space:normal;
	margin:0 0 2em;
	padding:0;
}

th
{
	background-color:#e2e2e2;
	border-top:1px solid #fff;
	border-left:1px solid #fff;
	border-right:1px solid #003d4c;
	border-bottom:1px solid #003d4c;
	text-align:center;
	padding:1px 4px;
}

table tr.admin td.admin
{
	border-right:1px solid #ddd;
	vertical-align:top;
	text-align:center;
	padding:4px;
}

table tr.altRow td
{
	background:#f4f4f4;
}

table td.actions
{
	white-space:nowrap;
}

#cakeSqlLog td
{
	text-align:left;
	background:#fff;
	border-bottom:2px solid #ccc;
	padding:4px 8px;
}

thead,.thead
{
	background:#dfdfdf;
}

a.edit,a.delete,a.edit:hover,a.delete:hover
{
	border-bottom:none;
	display:block;
	text-align:center;
	text-decoration:none;
	padding:5px 0;
}

a.edit:hover
{
	background:#ccc;
	color:#036;
	text-decoration:none;
}

a:visited
{
	color:#006;
	text-decoration:none;
}

a:hover
{
	color:#069;
	text-decoration:none;
}

body,td
{
	font:13px  "宋体", Tahoma, Verdana;
}

h2
{
	border-bottom:.5em solid #f6ffe7;
	color:#333;
	font:normal 25px/5px serif;
	font-family:Tahoma, "Times New Roman", Times;
	margin:5px 10px;
}

img,#footer a
{
	border:0;
	text-decoration:none;
}

input:focus,textarea:focus,label:focus
{
	background:#fff;
	border:1px solid #686868;
}

label
{
	cursor:pointer;
}

li,dd
{
	margin-bottom:6px;
}

p,li,dl,dd,dt
{
	line-height:140%;
}

textarea,input,select
{
	background:#f4f4f4;
	border:1px solid #b2b2b2;
	color:#000;
	font:13px Verdana, Arial, Helvetica, sans-serif;
	margin:1px;
	padding:3px;
}

.error
{
	background:#FFEFF7;
	border:1px solid #c69;
	margin:1em 5% 10px;
	padding:0 1em;
}

.wrap
{
	background:#fff;
	border:1px solid #ccc;
	clear:both;
	margin:15px 5%;
	padding:1em;
}

#mainmenu
{
	background:#c2de84;
	border-top:3px solid #9abd42;
	margin:0;
	padding:.2em .2em .3em 2em;
}

#mainmenu .current,#submenu .current
{
	font-weight:700;
	text-decoration:none;
}

#mainmenu a
{
	color:#000;
	font-size:14px;
	font-weight:400;
	border-bottom:none;
	text-decoration:none;
	margin:0;
	padding:3px 5px;
}

#mainmenu a:hover,#mainmenu a.current
{
	background:#eef7de;
	color:#333;
	text-decoration:none;
}

#mainmenu li,#submenu li
{
	display:inline;
	line-height:200%;
	list-style:none;
	text-align:center;
}

#mainmenu a.current
{
	background:#394a08;
	border-right:2px solid #a7ce4a;
	color:#fff;
	padding-bottom:8px;
	text-decoration:none;
}

#submenu,#minisub
{
	background:#394a08;
	border-bottom:none;
	margin:0;
	padding:3px 2em 0 3em;
}

#submenu .current
{
	background:#f9fcfe;
	border-top:1px solid #659400;
	border-right:2px solid #659400;
	color:#000;
}

#submenu a
{
	border:none;
	color:#fff;
	font-size:12px;
	text-decoration:none;
	padding:.3em .4em .4em;
}

#submenu a:hover
{
	background:#eef7de;
	color:#393939;
}

#submenu li
{
	line-height:180%;
	height:25px;
}

#user_info
{
	position:absolute;
	right:1em;
	top:0;
	color:#fff;
	font-size:.9em;
}

#footer
{
	clear:both;
	text-align:center;
	width:500px;
	height:100px;
	margin:auto;
}

#adminhead
{
	background:#658c10;
	color:#e5f7c6;
	padding:.8em 19em .8em 2em;
}

#adminhead h1
{
	font-size:2.5em;
	font-weight:400;
	font-family:Tahoma, "Times New Roman", Times;
	margin:0;
}

#adminhead h1 span
{
	font-size:.4em;
	letter-spacing:0;
}

#.error,.error_message
{
	color:#900;
	font-size:14px;
	background-color:#fff;
	font-weight:700;
	margin:8px 0;
}

.error_message
{
	clear:both;
}

.error em
{
	font-size:14px;
	color:#003d4c;
}

.notice
{
	color:#656565;
	font-size:14px;
	background-color:#f4f4f4;
	display:block;
	margin:1em 0;
	padding:0.5em;
}

.tip
{
	color:#656565;
	background-color:#ddd;
}

fieldset
{
	border:1px solid #658c10;
	background:#fff;
	margin:10px;
	*margin-top:-20px;
	padding:20px;
}

fieldset legend
{
	color:#e5f7c6;
	font-weight:700;
	border:2px solid #e5f7c6;
	background:#658c10;
	padding:3px 20px;
}

fieldset table{
	margin:0px auto;
	color:#333333;
	text-align:center;
	border-collapse:collapse;
	font-size: 12px;
}

fieldset table th{
	border:1px solid #81BEEA;
	background-image: url(/img/table_th_bg.jpg);
	padding: 4px;
	white-space:nowrap;
}

fieldset table td{
    border:1px solid #81BEEA;
	padding:4px 4px;
	vertical-align:top;
	text-align: center;
	white-space:nowrap;
}


fieldset tr{
	background-color:expression((this.sectionRowIndex%2==0)?"#F4FBFF":"#DEF0FC");
}


fieldset label
{
	float:left;
	width:120px;
	text-align:right;
	margin:1px;
	padding:4px;
}

fieldset div
{
	clear:left;
	margin-bottom:2px;
}

.formText {float:left;margin:1px;padding:4px;};

#money {float:left;margin:1px;padding:4px;font-size:14px;font-weight:bold;color:red;font-family:Tahoma};

dl{padding-left:14px;} 
dt{float:left;font-weight:bold;padding:12px 0 4px;} 
dd{ text-align:left;height:auto;padding:8px 0;}


#user_info a,#adminhead a
{
	color:#fff;
	text-decoration:none;
}

ul.checkboxMultiple {
    margin:0;
    padding:0;
    list-style-type:none;
}

ul.checkboxMultiple li {
    display:block;
    float:left;
    width: 220px;
    margin: 0 8px 0 0;
} 