body {/* 所有的字体颜色*/
	font-size: 12px;
	color: #000000;
	line-height: 22px;
    background-image: url(images/green_bg.gif);	
	background-position: top left;
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}

body,td,th {
	font-size: 12px;
}
body,div,ul,h1,h2,h3,h4,h5 {margin:0px;padding:0px;}
a:link,a:visited {
	text-decoration: none;
	color: #000000; /*连接后的样式*/
}
a:hover {
	text-decoration: underline;
	color:#000000; /*连接的样式*/
}
input {
	font-family: Tahoma, Arial; 
	font-size: 12px; 
}
input.text {
	height: 15px;
	padding: 1px;
	border: 1px solid #CCCCCC;
	color: #CACACA; 
	background-color: #242424;
}
input.button {
	height: 18px;
	border: 1px solid #CACACA;
	border-top: 1px solid #CACACA;
	border-left: 1px solid #CACACA;
	color: #CACACA; 
	background-color: #242424;
}
textarea {  /* 大输入框样式*/
	font-family: Tahoma, Arial; 
	font-size: 12px; 
	color: #FFFFFF; }
select {   
	font-family: Tahoma, Arial;  /* 下拉菜单颜色*/
	font-size: 12px;  
	color: #000000; 
}
.table {/* 所有的字体颜色*/
	font-size: 12px;
	color: #2C2C2C;
	background-image: url(images/table_bg.jpg);	
	background-position: top left;
	background-repeat: repeat-x;
	margin: 0px;
	padding: 0px;
}
.info {/* 所有的字体颜色*/
	font-size: 12px;
	color: #2C2C2C;
	background-image: url(images/info.gif);	
	background-position: top left;
	background-repeat: repeat-y;
}
.leftta {
	font-size: 12px;
	color: #FFFFFF;
	font-family: "Courier New","宋体";
	padding-right: 5px;
}
.rightta {
	font-size: 12px;
	color: #FFFFFF;
	font-family: "Courier New","宋体";
	padding-left: 5px;
}
.foodnewstd {
    border-bottom: 1px dotted #0A0A0A;
}
.dinngcaistd {
    border-bottom: 1px dotted #FFFFFF;
}
.foodlisttd {
	padding: 10px;
}
.hotdinnertd {
	padding-left: 10px;
}
.hotdinnerfont {
	font-size: 12px;
	color: #000000;
	font-family: "Courier New","宋体";
	padding: 0px;
}
.hotfoodtd {
	padding-top: 5px;
}
.hotfoodfont {
	font-size: 12px;
	color: #FFFFFF;
	font-family: "Courier New","宋体";
}
.infofont {
	font-size: 12px;
	color: #000000;
	line-height: 18px;
}
.regfont {
	font-size: 12px;
	color: #000000;
	line-height: 22px;
}
.infotop {
	font-size: 14px;
	color: #000000;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	line-height: 22px;
}
.newsfoodsinfofont {
	font-size: 12px;
	color: #FFFFFF;
}
.tuijianshop {
	font-size: 12px;
	color: #000000;
	font-family: "Courier New","宋体";
	padding: 4px;
	line-height: 17px;
}
.gonggao {
	font-size: 12px;
	color: #666A00;
	padding: 1px;
	line-height: 17px;
}
.tuijianshopline {
    border-bottom: 1px dotted #ACACAC;
}
.modifytd {
    border-bottom: 1px dotted #FFC300;
}
.managetd {
    border-bottom: 1px solid #FFC300;
	border-left: 1px solid #FFC300;
	border-right: 1px solid #FFC300;
}
.selecttd {
    border-right: 1px solid #EDDFB5;
}
.guestbookac {
    border-bottom: 1px dashed #FFBE00;
}
.guestbookfont {
	font-size: 12px;
	color: #000000;
	font-family: "Courier New","宋体";
	padding: 4px;
	line-height: 17px;
	border-bottom: 1px dotted #FFBE00;
}
.cotanctheadfont {
	font-size: 14px;
	color: #000000;
	line-height: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px dotted #000000;
	font-weight: bold;
}
.cotanctadminfont {
	font-size: 12px;
	color: #323232;
	line-height: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.cotanctfont {
	font-size: 12px;
	color: #000000;
	padding: 10px;
	line-height: 20px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.listfont {
	font-size: 12px;
	color: #000000;
	padding: 2px;
	line-height: 20px;
	border-bottom: 1px dotted #78C000;
}
.integheadfont {
	font-size: 12px;
	color: #FFFFFF;
	padding: 2px;
}
.integfont {
	font-size: 12px;
	color: #000000;
	padding: 2px;
	line-height: 20px;
	border-bottom: 1px dotted #A3A3A3;
}
.dinngtd {
    border-bottom: 1px dashed #CCCCCC;
}
.dinngcotanct {
	font-size: 12px;
	color: #000000;
	padding: 4px;
	line-height: 23px;
}
.dinngtese {
	font-size: 12px;
	color: #FFFFFF;
	padding: 2px;
    border-bottom: 1px solid #FFFFFF;
}
.seekliucheng {
	font-size: 12px;
	color: #000000;
	padding: 4px;
	line-height: 17px;
}
.seektoday {
	font-size: 12px;
	color: #000000;
	padding: 10px;
	line-height: 17px;
}
A.white{
	FONT-SIZE: 12px; COLOR: #FFFFFF; LINE-HEIGHT: none; TEXT-DECORATION: none;line-height: 18px
}
A.white:hover {
	COLOR: #FFFFFF; TEXT-DECORATION: underline
}
A.white:visited {
	COLOR: #FFFFFF; TEXT-DECORATION: no
}
A.white:active {
	COLOR: #000000; TEXT-DECORATION: no
}
A.green{
	FONT-SIZE: 12px; COLOR: #666A00; LINE-HEIGHT: none; TEXT-DECORATION: none;line-height: 18px
}
A.green:hover {
	COLOR: #666A00; TEXT-DECORATION: underline
}
A.green:visited {
	COLOR: #666A00; TEXT-DECORATION: no
}
A.green:active {
	COLOR: #666A00; TEXT-DECORATION: no
}
A.deepgreen{
	FONT-SIZE: 12px; COLOR: #6F9300; LINE-HEIGHT: none; TEXT-DECORATION: none;line-height: 18px
}
A.deepgreen:hover {
	COLOR: #6F9300; TEXT-DECORATION: underline
}
A.deepgreen:visited {
	COLOR: #6F9300; TEXT-DECORATION: no
}
A.deepgreen:active {
	COLOR: #6F9300; TEXT-DECORATION: no
}
A.deepblue{
	FONT-SIZE: 12px; COLOR: #004D6D; LINE-HEIGHT: none; TEXT-DECORATION: none;line-height: 18px
}
A.deepblue:hover {
	COLOR: #004D6D; TEXT-DECORATION: underline
}
A.deepblue:visited {
	COLOR: #004D6D; TEXT-DECORATION: no
}
A.deepblue:active {
	COLOR: #004D6D; TEXT-DECORATION: no
}




input, select, textarea {
	font: 12px Arial, Helvetica, sans-serif;
	color: #000000;
	font-weight: normal;
	background-color: #F8F8F8;
	border: 1px solid #698CC3;
}