body {
  margin:4;
  padding:0;
  color:#000;
  font: xx-small/1.5em verdana;
  voice-family: "\"}\""; voice-family:inherit;
  font-size:small;
  } html>body {font-size: xx-small;}

.tab-s, .tab-g {
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.tab-s:hover, .tab-g:hover {
	text-decoration: underline;
}

.tab-s, .blue{
	color: #0066CC;
}

.tab-g {
	color: #666666;
}

.title {
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	color: #0066CC;
}
li
	{
	margin-left: 20px;
	display : list-item;
	list-style-image : url(image.php?img=fleche_gif);
	list-style-position: outside;
}
.button {
	cursor: hand;
	border: 1px solid #A9A9A9;
}
table,tr,th,td {
	font-size: 12px;
}
div.flotte {
	float: right;
}
label {
	border-bottom: 1px dashed #CD5C5C;
	cursor: help;
}